@import "../../vars.css";

.skillsSection {
    position: relative;
    display: flex;
    align-items: center;
}

.skillsContainer {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.skillsTitle {
    font-size: 5vw;
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: 0 0 10px var(--color-primary),
                    0 0 20px var(--color-primary);
}

.skillsContent {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5vw;
    gap: 5vw;
    margin-bottom: 10vw;
}

.skillsPair{
    align-items: center;
    text-align: center;
    animation: bounce 5s linear infinite;
}

@keyframes bounce {
    0%, 100% {
        bottom: 0;
    }
    50%{
        transform: translateY(20px);
    }
}


.skillsPair img {
    padding-bottom: 10px;
}

@media screen and (max-width: 830px) {
    .skillsContent {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .skillsPair {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}